body{
  font-family: arial;
  background-color: tan;
  padding:0;
  margin: 0;
}
h1{
  color: #fff;
  text-align: center;
  font-size: 40px;
  padding: 5px 25px;
  border-radius: 40px;
  margin: 0 0 30px;
  display: inline-block;
}

#header{
  background: rgba(255,255,255,0.2);
  color: #fff;
}



.navbar-nav.right li.name{
  padding: .5rem 1rem;
  text-transform: capitalize;
}



#header a{
  color: rgba(255,255,255,0.7);
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

#header a:hover{
  color: #fff;
}

#content{
  /*color: #fff;*/
  padding: 50px 0;
  text-align: center;
}

#content.result-content{
  padding: 50px 0;
}

.total-rows{
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin: 0 0 20px;
  display: block;
  padding: 5px;
  background-color: rgba(255,255,255,0.2);
}

.result-box{
  color: #fff;
  /*border: 1px solid #000;*/

}

.result-grid{
  text-align: left;
  border: 1px solid #000;
  background-color: #fff;
  padding: 12px;
  border-radius: 10px;
}

.result-grid .image-box{
  /*border: 1px solid red;*/
  display: block;
}

.result-grid .image-box img{
  width: 100%;
  height: auto;
}

.result-grid .content-box{
  padding: 15px 0 0;
}

.result-grid .content-box .title{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 5px;
}

.result-grid .content-box .title a{
  color: #000;
  transition: all 0.3s ease 0s;
}

.result-grid .content-box .title a:hover{
  color: tan;
  text-decoration: none;
}

.result-grid .content-box .description{
  font-size: 14px;
  text-transform: capitalize;
}

.result-grid .content-box .action-list{
  padding: 0;
  margin: 0;
  list-style: none;
}

.result-grid .content-box .action-list li{
  display: inline-block;
  margin: 0 5px;
}

.result-grid .content-box .action-list li a{
  color: #777;
  font-size: 15px;
}

.result-grid .content-box .action-list li:last-child a{
  color: #2980b9;
}


/*#content .searchBox input{
  width: 80%;
  height: 20px;
  font-size: 15px;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
}

#content  .searchBox .btn{
  color: #fff;
  background-color: #6C5CE7;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease;
  float: right;
}*/

#content form{
  background-color: rgba(255,255,255,0.2);
  padding:  20px;
  border-radius: 10px;
}

#content .loginForm{
  text-align: left;
  border: 1px solid red;
  width: 500px;
  margin: 0  auto;
  padding: 30px 15px;
  background: rgba(255,255,255,0.1);
  border-radius: 20px;
}

#content .loginForm .form-group{
  text-align: left;
  padding: 0 20px;
  margin: 0 0 20px;
}
#content .loginForm .form-group label{
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  width: 150px;
  display: inline-block;

}
#content .loginForm .form-group input{
  display: inline-block;
  width: 290px;
  height: 20px;
}
#content .loginForm .btn{
 margin: 0 0 0 165px; 
 display: block;
}


.already-have{
  font-size: 15px;
  font-weight: 600;
  display: block;
  text-align: center;
  margin: 15px 0;
}

.already-have a{
  color: #6C5CE7;
  text-decoration: none;
  transition: all 0.3s ease;
}
.already-have a:hover{
 text-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.modify,
.forgot,
.dont-have{
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  width: 49%;
  margin: 15px 0 0;
  display: inline-block;
}

.forgot{
  text-align: right;
}

.modify a,
.forgot a,
.dont-have a{
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.forgot a:hover,
.dont-have a:hover{
  text-decoration: underline;
}

#content .modify .btn{
  display: inline-block;
}

.message{
  padding: 10px;
  width: 300px;
  border-radius: 20px;
  background-color: #f5f5f5;
  text-align: center;
  margin: 20px auto 0;
}
.message.error{
  color: #fff;
  background-color: red;  
}
.message.success{
  color: #fff;
  background-color: green;  
}

.to-login{
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  background-color: #6C5CE7;
  text-decoration: none;
  text-align: center;
  width: 150px;
  padding: 10px 5px;
  margin: 50px auto 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.to-login:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}











